<div class="container">
  <h1><%= @cocktail.name %></h1>

    <div class="container">
        <% @cocktail.doses.each do |dose| %>
          <div class="card">
            <%= dose.ingredient.name %>
            <br>
            <%= dose.description %>

          </div>
        <% end %>
      </div>
    <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
</div>
